@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

/* HEADER */

.caixa-logo {
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
}

/* MAIN */

main {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}

main h1 {
    font-weight: 600;
    font-size: 1.5em;
}

main span {
    color: #017143;
}

main p {
    text-indent: 15px;
    margin-bottom: 20px;
    font-size: 13px;
    width: 300px;
}

main button {
    padding: 10px 20px;
    background-color: #017143;
    border-radius: 20px;
    border: none;
    width: 150px;
    margin-bottom: 50px;
    margin-right: 20px;
}

main button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;
}
main button a:hover {
    font-size: 16px;
    transition: .3s;
}

.caixa-imagem {
    width: 300px;
    display: flex;
    justify-content: right;
}


.caixa-imagem .img1 {
    width: 170px;
    display: block;

}

footer {
    display: none;
}

.icones {
    list-style-type: none;
    display: block;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 300px;
    
}

.icones-embaixo {
    width: 40px;
    filter: drop-shadow(1px 1px 6px rgb(0, 0, 0,));
    transition: 1s;
}

.icones-embaixo:hover {
    transform: translateY(-3px);
    transition: 1s;
}

/* .fundo-imagem {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    clip-path: ellipse(24% 61% at 100% 85%);
} */

@media screen and (min-width: 768px){ /* TABLET */

    .fundo-imagem {
        background-color: #017143;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0; top: 0;
        clip-path: ellipse(30% 60% at 100% 15%);
    }

    .caixa-imagem .img1 {
        width: 170px;
        display: block;
        position: absolute;
        left: 80%; top: 50%;
        transform: translate(-50%, -50%);
    }

    .caixa-logo {
        margin-bottom: 10px;
        display: flex;
    }

    main h1 {
        font-weight: 600;
        font-size: 1.5em;
    }

    main p {
        text-indent: 15px;
        font-size: 13px;
        width: 255px ;
    }


    .icones {
        list-style-type: none;
        display: block;
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 10px;
        width: 300px;
    }
    
    .icones li {
        display: flex;
    }

    .icones-embaixo {
        width: 45px;
        filter: drop-shadow(1px 1px 6px rgb(0, 0, 0,));
    }
}

@media screen and (min-width: 992px) { /*   DESKTOP */
    
    .fundo-imagem {
        background-color: #017143;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0; top: 0;
        clip-path: ellipse(40% 50% at 100% 15%);
    }

    .caixa-imagem .img1 {
        width: 170px;
        display: block;
        position: absolute;
        left: 75%; top: 45%;
        transform: translate(-50%, -50%);
    }

    .caixa-logo {
        display: flex;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 90px;
    }

    main h1 {
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 0px;
    }

    main p {
        text-indent: 15px;
        font-size: 13px;
        width: 300px ;
        margin-bottom: 30px;
    }


    .icones {
        list-style-type: none;
        display: block;
        display: flex;
        position: absolute;
        left: 45%; top:85%;
        transform: translate(-50%, -50%);
        margin-top: 50px;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        columns: 3;
        gap: 20px;
    }
    
    .icones li {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .icones-embaixo {
        width: 45px;
        filter: drop-shadow(1px 1px 6px rgb(0, 0, 0,));
    }
}
